.body__container {
    min-height: 100vh;
    width: 100vw;
    padding-bottom: 20px;
}

.body__content {
    height: 250px;
    min-width: 365px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.content__text {
    font-size: 45px;
    letter-spacing: -2px;
}

.content__info {
    font-size: 18px;
    letter-spacing: -.5px;
    font-family: 'Merriweather';
}

.body__wrapper {
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
    justify-content: center;
    margin: 0px 20px;
}

.content__links {
    height: auto;
    width: auto;
    display: flex;
    margin-top: 10px;
}

.content__links img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.content__links a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-family: "Merriweather";
}

.one {
    background: #192536;
    color: #f5f5f5;
    background-image: url('../Media/images/music-sheet.png');
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: 99% 94%;
}

.two {
    background: #5373F7;
    color: #000000;
    background-image: url('../Media/images/reddit.png');
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: 99% 94%;
}

.three {
    background: #fffafa;
    background-image: url('../Media/images/podcast.png');
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: 99% 94%;
}

.four {
    background: #5373F7;
    color: #000000;
    background-image: url('../Media/images/pictures.png');
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: 99% 94%;
}

.five {
    background: #192536;
    color: #f5f5f5;
    background-image: url('../Media/images/sport.png');
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: 99% 94%;
}

@media (min-width: 769px) {
    .body__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .three {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}