.about__container {
    min-height: 100vh;
    width: 100vw;
    background: var(--dark);
    color: var(--lightAlt);
    font-family: 'Visuelt-Pro Regular';
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 10px;
}

.about__data {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dataBox__1 {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.box {
    height: 150px;
    width: 350px;
    display: flex;
    align-items: center;
}

.about {
    justify-content: space-evenly;
}

.text {
    justify-content: center;
    padding: 10px;
}

.text p {
    font-size: 18px;
}

#oscar {
    height: 145px;
    width: 145px;
    object-fit: cover;
    border-radius: 50%;
}

#about__heading {
    font-size: 50px;
    font-family: 'Helvetica';
    letter-spacing: -1.6px;
}

.box__header {
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.dataBox__2, .dataBox__3 {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

.dataBox__2 ul {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.dataBox__3 ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: wrap;
}

#education li:first-child {
    display: flex;
    align-items: center;
}

.dataBox__2 li, .dataBox__3 li {
    margin: 10px;
    display: flex;
    align-items: center;
}

.dataBox__2 li img, .dataBox__3 a img {
    height: 30px;
    width: 30px;
}

.dataBox__3 a {
    display: flex;
    align-items: center;
}

.about__container .nav__container {
    position: fixed;
    top: 0px;
}

.about__container .nav__links:hover, .dataBox__3 li:hover {
    color: var(--links);
}

.about__container .blanket {
    background: var(--linkBackground);
}

.about__container .mobile__menu {
    color: #483d8b;
}

.about__container .mobile__menu:hover {
    color: var(--links);
}

#school {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .box {
        max-width: 400px;
        height: auto;
    }

    #oscar {
        height: 100px;
        width: 100px;
    }

    .dataBox__1 {
        margin-bottom: 25px;
        width: 100%;
    }

    .dataBox__2 {
        align-items: center;
        justify-content: center;
    }

    .dataBox__2 ul {
        width: 400px;
    }

    .text {
        text-align: center;
    }
}

@media (max-width: 530px) {
    .dataBox__2 ul {
        width: 100%;
    }
}