.nav_container_blog {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 100%;
    background: transparent;
    padding: 10px;
    z-index: 1;
    font-family: 'Riforma Regular';
}

.nav_container_blog h3 {
    position: absolute;
    left: 10px;
    margin-top: 3px;
}

.nav_container_blog h3 a {
    color: inherit;
}

.nav_container_blog ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
    height: auto;
    align-items: center;
}

.nav_container_blog ul li {
    margin: 5px;
    font-size: "10px";
}