.main_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Riforma Regular';
    background: var(--dark);
    color: var(--lightAlt);
}

.gif_container {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading_gif {
    height: 100px;
    width: 100px;
    object-fit: contain;
}