:root {
    --hover: #5373F7;
}

.svg {
    height: 30px;
    width: 30px;
    object-fit: contain;
    fill: #000000;
}

.svg:hover {
    fill: var(--hover);
    transition: .2s ease-in-out;
    animation-name: spin;
    animation-duration: 700ms;
    animation-iteration-count: 1;
}

.nav__container {
    display: flex;
    height: 60px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    position: fixed;
    background: #faf0e6;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: -1.75px;
    background: transparent;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
}

.nav__home {
    position: absolute;
    left: 10px;
}

.nav__items {
    display: flex;
    position: absolute;
    right: 10px;
}

.nav__skills:hover {
    color: var(--hover);
    transition: .2s ease-in-out;
}

.nav__resume:hover {
    color: var(--hover);
    transition: .2s ease-in-out;
}

.nav__contact:hover {
    color: var(--hover);
    transition: .2s ease-in-out;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

.mobile__menu {
    display: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: -3px;
}

.blanket {
    display: none;
}

@media (max-width: 768px) {
    .nav {
        justify-content: flex-end;
    }

    .mobile__menu {
        display: flex;
    }

    .mobile__menu:hover {
        color: #5373F7;
        transition: .2s ease-in-out;
    }

    .nav__items {
        display: inline-block;
        top: 50px;
        position: absolute;
        padding: 5px;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
    }

    .nav__items.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: .2s ease-in-out;
    }

    .blanket {
        display: flex;
        height: 325px;
        width: 100vw;
        background: #fffafa;
        visibility: hidden;
        transform: translateY(-20px);
        opacity: 0;
        z-index: -1;
        transition: .3s ease-in-out;
    }

    .blanket.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: .2s ease-in-out;
    }
}