.about__container {
    height: 100%;
    width: 100vw;
    background: #000000;
    padding: 10px;
}

.about__header {
    height: auto;
    width: 100%;
    font-size: 2em;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: static;
    letter-spacing: -2px;
    color: white;
}

.about__data {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

#about__image {
    height: 100px;
    width: 100px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

#about__image img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    border-radius: 50%;
    border: 3px solid #f5f5f5;
}

#about__bio {
    min-height: auto;
    max-width: 350px;
    background: transparent;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    letter-spacing: -.85px;
    margin-right: 10px;
}

#about__links ul {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about__links li:nth-child(1) {
    margin-right: 15px;
}