* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

@font-face {
  font-family: 'Programme';
  src: url('./fonts/programme.woff2');
}

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/HelveticaNeueMedium.woff');
}

html {
  scroll-behavior: smooth;
}

body {
  background: #faf0e6;
  color: #000000;
  font-family: 'Helvetica';
  font-weight: bolder;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.App {
  display: inline-block;
}

