:root {
  --light: #ffffff;
  --lightAlt: #000000;
  --bg: #fff;
  --links: #7b6cdb;
  --textHover: #e3dffc;
  --textHoverAlt: #7fffd4;
  --transparentBg: #d8ceeee3;
  --transparentBgAlt: #2a015aea;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/HelveticaNeueMedium.woff');
}

@font-face {
  font-family: 'Visuelt-Pro Regular';
  src: url('./fonts/VisueltPro-Regular.ttf');
}

@font-face {
  font-family: 'Riforma Heavy';
  src: url('./fonts/Riforma-Heavy.otf');
}

@font-face {
  font-family: 'Riforma Italic';
  src: url('./fonts/Riforma-Light-Italic.otf')
}

@font-face {
  font-family: 'Riforma Regular';
  src: url('./fonts/Riforma-Regular.otf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow: -moz-scrollbars-none;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

*::-webkit-scrollbar { 
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--lightAlt);
  font-size: 16px;
}

input[type="text"] {
  -webkit-appearance: none;
}

::placeholder {
  color: #5a5a5a;
}

a {
  color: inherit !important;
  text-decoration: none;
}